<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Page Not Found</title>
</head>
<body>

    {{>header}}

    <h1 style="font-size: 2em; color: gray;" >
        404. for the path {{path}}
    </h1>
    <p style="font-size: 1.3em; color: gray; font-family: 'Times New Roman', Times, serif;">
        ups! the page you requested was not found :(
    </p>
    
    {{>footer}}
</body>
</html>