<footer class="main-footer">

    <div class="box-inf-footer">
        <p>
            Developed by <span> Asael Enrique de la Rosa Smapayo </span>
        </p>
        <address>
            <p>© 2020 - 2021 SSEF SOFTWARE</p>
        </address>

        <div>
            <p>About developer technologies:</p>

            <ul>
                <li>JavaScript</li>
                <li>Node.js</li>
                <li>React.js</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>MySQL</li>
                <li>MongoDB</li>
            </ul>
        </div>

    </div>

    <div class="box-inf-footer">

        <div>
            <p>Contact:</p>

            <ul>
                <li>linkedin: <a href="https://www.linkedin.com/in/asael-de-la-rosa-sampayo-4a94651a3/">Asael de la
                        Rosa Sampayo</a></li>
                <li>Github: <a href="https://github.com/asael20">asael20</a></li>

            </ul>
        </div>

    </div>

</footer>