<header class="main-header">
    <div class="top-header">
        <h1>Repo.BankAccount</h1>
    </div>

    <div class="bottom-header">

        <ul>
             <li><a href="/service.cards/api/pages">home</a></li>
            <li><a href="/service.cards/api/pages/register">register</a></li>
            <li><a href="">Show my accounts</a></li>
            <li><a href="">Admin</a></li>
        </ul>

    </div>
</header>